// start footer

@media (max-width: 1150px) {
    .footer__items {
        flex-wrap: wrap;
    }

    .footer__col {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .footer__phone {
        margin-right: 20px;
    }

    .footer__email {
        margin-right: 20px;
    }
}

@media (max-width: 920px) {
    .footer__items {
        padding: 0px 10px;
    }

    .footer__menu {
        min-width: 100%;

    }

    .footer__list li {
        margin-right: 15px;
    }

    .footer__menu a {
        font-size: 18px;
    }

    .footer__phone,
    .footer__email,
    .footer__map,
    .footer__text,
    .footer__desc {
        font-size: 18px;
    }

    .footer__form {
        margin-bottom: 40px;
        // min-width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }

    .footer__title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .footer__list {
        margin-bottom: 20px;
    }

    .footer__social {
        text-align: center;
    }

    .footer__desc {
        margin-bottom: 50px;
    }

    // .email-btn {
    //     right: 248px;
    // }
    // .email__input {
    //     margin: auto;
    // }

}

@media (max-width: 416px) {


    // .email-btn {
    //     width: 100px;
    // }

    .email__input {
        width: 320px;
    }
}

@media (max-width: 395px) {
    .footer__social-link .social {
        width: 30px;
        height: 30px;
    }

    .footer__desc {
        margin-bottom: 80px;
    }

    .email-btn {
        right: -2px;
    }
}

@media (max-width: 350px) {
    .email__input {
        width: 250px;
    }

}

@media (max-width: 320px) {
    .footer__social-link .social {
        width: 25px;
        height: 25px;
    }
}

// finish footer

// start create
@media (max-width: 920px) {

    .create__title,
    .create__main-title {
        font-size: 45px;
    }

    .create__desc {
        line-height: 64px;
    }
}

@media (max-width: 890px) {
    .create__title {
        margin-top: -2px;
    }
}

@media (max-width: 910px) {
    .create__title {
        margin-top: -2px;
    }
}

@media (max-width: 590px) {
    .create__link {
        width: 155px;
        padding: 16px 5px;
        margin-top: 0px;
    }

    .create__title,
    .create__main-title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 65px;
    }

    .create__desc {
        line-height: 45px;
    }
}

@media (max-width: 1150px) {
    .create__input {
        width: 500px;
    }

    .create__select {
        width: 180px;
    }

    .create__form {
        width: 1000px;
    }

    .create__box-one {
        width: 975px;
    }

    .create__box-two {
        width: 940px;
    }

}

@media (max-width: 1050px) {
    .create__input {
        width: 300px;
    }

    .create__select {
        width: 170px;
    }

    .create__form {
        width: 800px;
    }

    .create-btn {
        width: 200px;
    }

    .create__box-one {
        width: 760px;
    }

    .create__box-two {
        width: 735px;
    }
}

@media (max-width: 840px) {
    .create__input {
        width: 265px;
    }

    .create__select {
        width: 146px;
        padding: 17px 10px;
    }

    .create__form {
        width: 600px;
        padding: 38px 23px;
    }

    .create-btn {
        width: 108px;
    }

    .create__box-one {
        width: 565px;
    }

    .create__box-two {
        width: 530px;
    }
}

@media (max-width: 650px) {
    .create__input {
        width: 200px;
    }

    .create__select {
        width: 146px;
        padding: 17px 10px;
    }

    .create__form {
        width: 600px;
        padding: 38px 23px;
    }

    .create-btn {
        width: 108px;
    }
}

@media (max-width: 620px) {
    .create__input {
        width: 190px;
    }

    .create__select {
        width: 146px;
        padding: 17px 10px;
    }

    .create__form {
        width: 550px;
        padding: 38px 23px;
    }

    .create-btn {
        width: 108px;
    }

    .create__box-one {
        width: 515px;
    }

    .create__box-two {
        width: 480px;
    }
}

@media (max-width: 612px) {
    .create__title {
        margin-top: -50px;
        font-size: 45px;
    }

    .create__main-title {
        font-size: 45px;
    }

    .create__input {
        width: 190px;
    }

    .create__select {
        width: 146px;
        padding: 17px 10px;
    }

    .create__form {
        width: 550px;
        padding: 38px 23px;
    }

    .create-btn {
        width: 108px;
    }

    .create__box-one {
        width: 515px;
    }

    .create__box-two {
        width: 480px;
    }

    .create__link {
        margin-bottom: 215px;
    }

}

@media (max-width: 580px) {
    .create__form {
        width: 525px;
    }

    .create__box-one {
        width: 490px;
    }

    .create__box-two {
        width: 450px;
    }
}

@media (max-width: 540px) {
    .create__form {
        width: 400px;
        padding: 25px 15px;
    }

    .create__box-one {
        width: 455px;
    }

    .create__box-two {
        width: 415px;
    }

    .create-btn {
        top: 86px;
        width: 364px;
        height: 42px;
        right: 5px;
        left: 19px;
    }

    .create__input {
        width: 243px;
        padding: 21px 5px 17px 6px;
    }

    .create__select {
        width: 130px;
        padding: 17px 10px;
    }

    .create__box-one {
        width: 373px;
    }

    .create__box-two {
        width: 330px;
    }
}

@media (max-width: 420px) {

    .create__title,
    .create__main-title {
        font-size: 30px;
        line-height: 43px;
    }

    .create__title {
        margin-top: 10px;
    }

    .create__link {
        margin-bottom: 178px;
        margin-right: 9px;
    }

    .create__form {
        width: 380px;
        padding: 25px 15px;
    }

    .create__select {
        width: 120px;
        padding: 17px 5px;
    }

    .create__box-one {
        width: 345px;
    }

    .create__box-two {
        width: 319px;
    }

    .create-btn {
        top: 86px;
        width: 364px;
        height: 42px;
        right: 5px;
        left: 10px;
    }

    .create__input {
        width: 243px;
        padding: 21px 5px 17px 6px;
    }
}

@media (max-width: 390px) {
    .create__form {
        width: 355px;
        padding: 25px 15px;
    }

    .create__select {
        width: 120px;
        padding: 17px 5px;
    }

    .create__box-one {
        width: 325px;
        bottom: 277px;
    }

    .create__box-two {
        width: 295px;
        bottom: 424px;
    }

    .create__input {
        padding: 21px 5px 17px 6px;
    }

    .create-btn {
        top: 86px;
        width: 335px;
        height: 42px;
        right: 27px;
    }
}

@media (max-width: 375px) {
    .create__form {
        width: 350px;
        padding: 25px 15px;
    }

    .create__box-one {
        width: 317px;
        bottom: 278px;
    }

    .create__box-two {
        width: 288px;
        bottom: 425px;
    }
}

@media (max-width: 365px) {
    .create__link {
        margin-bottom: 176px;
        margin-right: 7px;
    }

    .create__form {
        width: 340px;
    }

    .create-btn {
        width: 318px;
    }
}

@media (max-width: 320px) {
    .create__link {
        width: 131px;
        padding: 11px 5px;
    }

    .create__form {
        width: 292px;
        padding: 25px 15px;
    }

    .create__select {
        width: 104px;
    }

    .create__box-one {
        width: 265px;
        bottom: 278px;
    }

    .create__box-two {
        width: 239px;
        bottom: 425px;
    }

    .create__input {
        padding: 21px 5px 17px 6px;
        width: 162px;
    }

    .create-btn {
        top: 86px;
        width: 275px;
        height: 42px;
        right: 45px;
    }
}

// finish create

// start categories

@media (max-width: 1150px) {
    .categories__inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 765px) {
    .categories__inner {
        justify-content: center;
    }
}

// finish categories



// start featured


// finish featured

// start followers
@media (max-width: 1170px) {
    .followers__inner-box {
        flex-wrap: wrap;
    }
}


// end followers

// start products
@media (max-width: 1195px) {
    .products__inner-btn button {
        font-size: 13px;
        margin-top: 9px;
    }

    .products__inner-btn {
        display: flex;
        flex-wrap: wrap;
    }

    .products__inner-block {
        height: 120px;
        padding: 11px 27px 11px 27px;
    }
}

@media (max-width: 750px) {
    .products__inner-box {
        justify-content: center;
    }

    .products__title {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .products__inner-block {
        height: 160px;
    }
}

@media (max-width: 450px) {
    .products__inner-block {
        height: 200px;
    }
}

@media (max-width: 375px) {
    .products__inner-block {
        padding: 11px 11px 11px 11px;
    }
}

@media (max-width: 340px) {
    .product__item-basket {
        margin-left: -17px;
    }
}




// finish products

// start results

@media (max-width: 890px) {

    .results__item-box .lnr-briefcase,
    .results__item-box .lnr-cloud-download,
    .results__item-box .lnr-smile,
    .results__item-box .lnr-users {
        font-size: 30px;
        margin-left: 20px;
    }

    .results__item-num,
    .results__item-desc {
        font-size: 30px;

    }

    .results {
        padding: 71px 0 63px;
    }

    .results__item-desc {
        font-size: 20px;
        margin-bottom: 27px;
    }

    .results__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }

}

@media (max-width: 640px) {
    .results__items {
        flex-wrap: wrap;
    }

    .results__item-box {
        font-size: 20px;
    }

    .results__item-box .lnr-briefcase,
    .results__item-box .lnr-cloud-download,
    .results__item-box .lnr-smile,
    .results__item-box .lnr-users {
        font-size: 25px;
        margin-left: 12px;
    }

    .results__item-num {
        font-size: 20px;
        margin-top: -27px;
    }

    .results__item-desc {
        font-size: 18px;
        width: 104px;
    }

    .results__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .results__item-box {
        font-size: 20px;
    }

    .results__item-box .lnr-briefcase,
    .results__item-box .lnr-cloud-download,
    .results__item-box .lnr-smile,
    .results__item-box .lnr-users {
        font-size: 20px;
        margin-left: 12px;
    }

    .results__item-num {
        font-size: 15px;
    }

    .results__item-desc {
        font-size: 13px;
        width: 100px;
    }

    .results__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }
}

@media (max-width: 440px) {
    .results__item-box {
        font-size: 20px;
    }

    .results__item-box .lnr-briefcase,
    .results__item-box .lnr-cloud-download,
    .results__item-box .lnr-smile,
    .results__item-box .lnr-users {
        font-size: 15px;
        margin-left: 12px;
    }

    .results__item-num {
        font-size: 15px;
    }

    .results__item-desc {
        font-size: 13px;
        width: 100px;
    }

    .results__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 10px;
        justify-content: center;
    }
}

// finish results

// start advantages

@media (max-width: 720px) {

    .advantages__title,
    .advantages__title span {
        font-size: 25px;
    }
}

@media (max-width: 530px) {
    .advantages__desc {
        width: 500px;
    }

    .advantages__title {
        width: 500px;
    }
}

@media (max-width: 415px) {
    .advantages__desc {
        width: 360px;
    }

    .advantages__title {
        width: 360px;
    }
}

@media (max-width: 350px) {
    .advantages__desc {
        width: 320px;
    }

    .advantages__title {
        width: 320px;
    }
}

// end advantages

// start sell-shopping
@media (max-width: 1200px) {
    .sell-shopping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 1010px) {
    .sell-shopping__inner {
        width: 100%;
    }
}

@media (max-width: 715px) {
    .sell-shopping__inner {
        width: 500px;
    }

    .sell-shopping__desc {
        width: 300px;
    }
}

// end sell-shopping

//  start news
@media (max-width: 1150px) {
    .news__items {
        flex-wrap: wrap;
    }

}

@media (max-width: 720px) {

    .news__title,
    .news__title span {
        font-size: 25px;
    }
}

@media (max-width: 730px) {
    .news__desc {
        width: 500px;
    }

    .news__title {
        width: 500px;
    }
}

@media (max-width: 520px) {
    .news__desc {
        width: 400px;
    }

    .news__title {
        width: 400px;
    }
}

@media (max-width: 420px) {
    .news__desc {
        width: 350px;
    }

    .news__title {
        width: 350px;
    }
}

@media (max-width: 375px) {
    .news__desc {
        width: 300px;
    }

    .news__title {
        width: 300px;
    }

    .news__item-wrapper {
        padding-left: 10px;
    }
}

@media (max-width: 360px) {
    .news__item-wrapper {
        padding-left: 7px;
    }
}

@media (max-width: 320px) {
    .news__item-reviews a {
        padding-left: 2px;
    }
}



// end news

// start benefit
@media (max-width: 850px) {
    .benefit__item-text {
        padding: 0px 10px;
    }

    .benefit__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .benefit__items {
        flex-wrap: wrap;
    }

    .benefit__line {
        display: none;
    }
}

// end benefit

// start contact.html
@media (max-width: 1150px) {
    .help__items {
        flex-wrap: wrap;
    }

    .help__item {
        margin-bottom: 30px
    }
}

@media (max-width: 770px) {
    .help__title {
        width: 500px;
    }

    .help__text {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .help__title {
        width: 350px;
    }

    .help__text {
        width: 350px;
    }
}

@media (max-width: 410px) {
    .help__title {
        width: 300px;
    }

    .help__text {
        width: 300px;
    }
}

@media (max-width: 1170px) {
    .help__messages {
        width: 1000px;
        height: 100%;
    }
}

@media (max-width: 1050px) {
    .help__messages {
        width: 700px;

    }
}

@media (max-width: 740px) {
    .help__messages {
        width: 500px;
    }

    .help__messages-content {
        padding: 35px 65px 55px;
    }

    .help-textarea {
        width: 360px;
    }
}

@media (max-width: 550px) {
    .help__messages {
        width: 400px;
    }
}

@media (max-width: 440px) {

    .help__messages-content {
        padding: 35px 23px 55px;
    }

    .help-input {
        padding: 11px 26px;
    }

    .help__messages {
        width: 350px;
    }
    .map-images {
        right: 50%;
    }
}

@media (max-width: 380px) {
    .help__messages {
        width: 300px;
    }
}
@media (max-width: 330px) {
    .help__messages {
        width: 280px;
    }
   
}
// end contact.html

// start error.html
@media (max-width: 1180px) {
    .error-page__inner {
        flex-wrap: wrap;
    }
}
@media (max-width: 400px) {
    .error-page__images {
        width: 300px;
    }
}

// end error.html

// start favorites.html
@media (max-width: 1050px) {
    .product-page__filter-inner {
        flex-wrap: wrap;
        height: 100%;
        padding: 20px 0;
    }
    .favorites-page__filter-wrapper {
        border: none;
    }
}
@media (max-width: 915px) {
    .favorites__found-title,
    .favorites-page__filter-wrapper {
        padding-bottom: 10px;
    }
}

@media (max-width: 620px) {
    .favorites__items {
        margin-top: 60px;
    }
    .product-page__form {
        padding-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .product-page__form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-page__form-first {
        width: 100%;
        padding-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .favorites-page__filter-menu {
        top: 26px;
    }
    .parth-author__info {
        padding: 15px 23px;
    }
}
@media (max-width: 355px) {
    .parth-author__basket span {
        margin-left: 4px;
    }
    .rate-star {
        margin-left: 11px;
    }
}
@media (max-width: 375px) {
    .pagination__list .next {
        margin-left: 0px;
    }
    .pagination__list .prev {
        margin-right: -27px;
    }
    .pagination__list a, .pagination__list span {
        width: 35px;
    }
    .pagination__list .active {
        margin-left: 26px
    }
}
// end favorites.html


// start how works.html
@media (max-width: 1170px) {
    .account__inner, .upload__inner, .money__inner {
        flex-wrap: wrap;
        padding: 0px 10px;
    }
    .account__images img,
    .money__images img,
    .upload__images img {
        margin-bottom: 30px;
    }
    .account__content, .money__content {
        margin-left: 5px
    }
    .upload__content {
        margin-right: 5px;
    }
    .upload__content-link {
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .upload__images img {
        width: 400px;
    }
    
}
@media (max-width: 495px) {
    .account__images img,
    .money__images img {
        width: 400px;
    }
}
@media (max-width: 450px) {
    .account__images img,
    .money__images img,
    .upload__images img {
        width: 350px;
    }
}
@media (max-width: 395px) {
    .account__images img,
    .money__images img,
    .upload__images img {
        width: 250px;
    }
}

// end how works.html

// start login.html
@media (max-width: 1010px) {
    .login__inner {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
    }
    .login__item {
        width: 450px;
    }
    .login__item-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}
@media (max-width: 500px) {
    .login__item {
        width: 400px;
    }
    .login__item-content {
        padding: 25px 25px 50px;  
    }
    .login__forget-wrapper {
        flex-wrap: wrap;
    }
    .login__forget {
        padding-bottom: 10px;
    }
} 
@media (max-width: 440px) {
    .login__item {
        width: 350px;
    }
   
}
@media (max-width: 395px) {
    .login__item {
        width: 250px;
    }
    .login__forget {
        padding-bottom: 15px;
    }
}
// end login.html


// start password
@media (max-width: 1010px) {
    .password__inner {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px;
    }
    .password__item {
        width: 450px;
    }
    .password__item-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .password__item-box {
        padding: 25px 45px 25px;
    }

}
@media (max-width: 500px) {
    .password__item {
        width: 400px;
    }
    .password__item-box {
        padding: 25px;
    }
    .password__item-content {
        padding: 34px 24px 60px;
    }
} 
@media (max-width: 440px) {
    .password__item {
        width: 350px;
    }
    .password__item-text {
        line-height: 25px;
    }
}
@media (max-width: 395px) {
    .password__item {
        width: 280px;
    }
    .password__item-box {
        padding: 15px;
    }
    
}



// end password


// start pricing.hrml
@media (max-width: 1170px) {
    .pricing__items {
        flex-wrap: wrap;
    }
    .pricing__item {
        margin-bottom: 30px;
    }
    .pricing__inner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (max-width: 740px) {
    .pricing__inner {
        width: 500px;
    }
}
@media (max-width: 530px) {
    .pricing__inner {
        width: 400px;
    }
}
@media (max-width: 430px) {
    .pricing__inner {
        width: 300px;
    }
}
@media (max-width: 400px) {
    .pricing__item {
        width: 280px;
    }
    .pricing__item-link {
        width: 225px;
    }
}

// end pricing.html

// start single
@media (max-width: 1170px) {
    .product-one__main-wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width: 510px) {
    .main-page .page-create__title {
        font-size: 19px;
    }
    .main-page {
        padding: 35px;
    }
}
@media (max-width: 845px) {
    .product-one__item,
    .product-one__content,
    .product-one__images {
        width: 600px;
       
    }
    .product-one__box {
        flex-wrap: wrap;
    }
}
@media (max-width: 650px) {
    .product-one__item,
    .product-one__content,
    .product-one__images {
        width: 500px;
    }
    .product-one__box-link {
        left: 0px;
        width: 100%;
    }
    .product-one__link {
        right: 0px;
        width: 100%;
    }
    .footer__social-link .social {
        width: 30px;
        height: 30px;
    }
    .product-one__share-inner {
        padding: 0  5px;
    }

}
@media (max-width: 530px) {
    .product-one__share-inner {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px;
    }
    .product-one__item,
    .product-one__content,
    .product-one__images {
        width: 400px;
    }
}
// end single