@import 'vars';
@import 'global';
@import 'fonts';


.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__text {
    border-radius: 30px;
    background-color: #0674ec;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    height: 36px;
    margin-left: auto;
}

.header__text a {
    color: #fff;
    padding: 4px 20px;
}

.header__btn {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 20px;
    margin-left: 32px;
}

.header__users {
    display: flex;
    margin-left: 33px;
}

.header__box {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    margin-left: 20px;
}

.header__box-name {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

.header__box-score a {
    font-size: 15px;
    color: #0674ec;
}

.header__menu {
    background-color: #fff;
}

.header__menu-inner {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__list a {
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    color: #333333;
}

.menu__list li+li {
    margin-left: 30px;
}

.search__form {
    width: 100%;
    position: relative;
}

.search__input {
    display: block;
    width: 360px;
    height: 44px;
    padding: 20px 70px 20px 15px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    line-height: 30px;
}

.search__input::placeholder {
    color: #898f96;
}

.search__input:focus {
    border: 1px solid #898f96;
}

.search-btn {
    width: 71px;
    height: 45px;
    background-color: #0674ec;
    border: none;
    border-radius: 22px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
}

.search-btn span {
    color: #fff;
    font-size: 15px;
    padding: 15px 20px;
    margin: 0 auto;
}

.create {
    background-color: #294cce;
    height: 724px;
    padding-top: 180px;
}

.create__inner {
    text-align: center;
    color: #fff;
}

.create__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
}

.create__main-title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.create__desc {
    font-size: 20px;
    line-height: 72px;
    font-weight: 500;
    margin-bottom: 60px;
}

.create__link {
    display: inline-block;
    border: 1px solid #fff;
    margin-right: 30px;
    color: #fff;
    height: 55px;
    width: 190px;
    border-radius: 24px;
    text-align: center;
    padding: 15px;
    margin-bottom: 230px;
}

.create__link:hover {
    background-color: #fff;
    color: #0674ec;
    transition: all .5s;
}

.create__form {
    width: 1140px;
    height: 135px;
    position: relative;
    font-size: 15px;
    line-height: 42px;
    background-color: #fff;
    margin: 0 auto;
    padding: 38px 40px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    bottom: 130px;
    left: 0;
    right: 0;
    z-index: 7;
}

.create__box-one {
    width: 1108px;
    height: 135px;
    background-color: rgb(255, 255, 255);
    bottom: 283px;
    left: 0px;
    right: 0px;
    position: relative;
    border-radius: 6px;
    margin: 0 auto;
    z-index: 5;
    opacity: 0.502;
}

.create__box-two {
    width: 1076px;
    height: 135px;
    background-color: rgb(255, 255, 255);
    bottom: 434px;
    left: 0px;
    right: 0px;
    position: relative;
    border-radius: 6px;
    margin: 0 auto;
    opacity: 0.502;
}

.create__input {
    width: 613px;
    height: 55px;
    outline: none;
    border: none;
    padding: 20px 20px 17px;
    border-radius: 3px 0 0 3px;
    margin: 0 auto;
    border: 1px solid #dcdcdc;
}

.create__input::placeholder {
    color: #676767;
}

.create__select {
    width: 195px;
    height: 56px;
    border: 1px solid #dcdcdc;
    padding: 17px 20px;
    color: #676767;
    right: 198px;
    border-radius: 0 3px 3px 0;
    outline: none;
    transform: translateY(-1%);
}

.create-btn {
    width: 223px;
    height: 55px;
    border: 1px solid #0674ec;
    background-color: #0674ec;
    color: #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transform: translateY(-1%);
}
.categories {
    padding: 184px 0 115px;
    
}
.categories__inner {
    display: flex;
    justify-content: space-between;
}
.categories__item {
    height: 405px;
    padding: 35px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);

}
.categories__box {
    margin-bottom: 30px;
    text-align: center;
    width: 300px;
}

.caregories__box-inner {
    width: 300px;
    text-align: center;

}
.categories__box-title {
    font-size: 24px;
    color: #000;
}
.categories__box-content {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
}


  