@import 'vars';
@import 'global';
@import 'fonts';


.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__text {
    border-radius: 30px;
    background-color: #0674ec;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    height: 36px;
    margin-left: auto;
}

.header__text a {
    color: #fff;
    padding: 4px 20px;
}

.header__btn {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 20px;
    margin-left: 32px;
}

.header__users {
    display: flex;
    margin-left: 33px;
}

.header__box {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    margin-left: 20px;
}

.header__box-name {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
}

.header__box-score a {
    font-size: 15px;
    color: #0674ec;
}

.header__menu {
    background-color: #fff;
   
}
.header__menu-inner {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu__list a {
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
    color: #333333;
}

.menu__list li+li {
    margin-left: 30px;
}
  

form {
    max-width: 360px;
    width: 100%;
}
input {
    display: block;
    width: 360px;
    height: 44px;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    line-height: 30px;
    position: relative;
}
input::placeholder {
    color: #898f96;
}
input:focus {
    border: 1px solid #898f96;
}

button {
    width: 71px;
    height: 45px;
    background-color: #0674ec;
    border: none;
    border-radius: 22px;
    position: absolute;
    right: 258px;
    top: 117px;
    cursor: pointer;
}
button span {
    color: #fff;
    font-size: 15px;
    padding: 15px 20px;
    margin: 0 auto;
}
  